<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue 中的插槽</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="root">
    <child>
      <h2 slot='moren'>Dell</h2>
      <!-- <div class='header' slot='header'>header</div> -->
      <div class='footer' slot='footer'>footer</div>

      <!-- 作用域插槽 -->
      <template slot-scope="props">
        <li>{{props.item}} -hello</li>
      </template>
    </child>

    <!-- 动态组件 -->
    <component :is="type"></component>
    <!-- <child-one v-if="type === 'child-one'"></child-one> -->
    <!-- <child-two v-if="type === 'child-two'"></child-two> -->
    <button @click="handleBtnClick">change</button>
  </div>
  <script>
// 作用域插槽
// 应用场景： 子组件做循环或者某一部分的 DOM 结构应该由外部传递进来的时候，我们就需要用到作用域插槽
    Vue.component('child-one', {
      // v-once 会放进内存里，不会每次都销毁重建
      template: '<div v-once>child-one</div>'
    })

    Vue.component('child-two', {
      template:'<div v-once>child-two</div>'
    })

    Vue.component('child', {
      data: function(){
        return {
          list: [1,2,3,4]
        }
      },
      template: `<div>
                    <p>hello</p>
                    <slot name='moren'>不写时会显示默认内容</slot>
                    <slot name='header'>
                      <h1>default header</h1>  
                    </slot>
                    <slot name='footer'></slot>

                    <ul>
                      <slot 
                        v-for="item of list"
                        :item=item
                      ></slot>  
                    </ul>
                </div>`
    })

    var vm = new Vue({
      el: '#root',
      data: {
        type: 'child-one'
      },
      methods: {
        handleBtnClick: function(){
          this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
        }
      }
    })
  </script>
</body>
</html>
